body {
	background-color:black;
	font-family: 'Kosugi Maru', sans-serif;
}
#movie{
	width : 100%;
	height : 1000px;
	overflow:hidden;
	position:relative;
  }
.roll-text{
	width: 100%;
	text-align: center;
	white-space : pre;
	color:white;
	position:absolute;
	animation: anim-scroll-up 120s linear forwards;
  }
  @keyframes anim-scroll-up{
	from{
	  top:auto;
	}
	to{
	  bottom:100%;
	}
  }

li {
    list-style: none;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 64px;
}

.text {
    font-size: 48px;
}